.auth {
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
  .login-form {
    max-width: 500px;
  }
  .v-card {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 69px #00000029;
    border-radius: 10px;
  }
  .v-text-field .v-input__slot fieldset {
    color: #79dae0;
  }
  .v-btn {
    color: rgb(50 110 113);
  }
}
