body {
    .v-application {
        font-family: 'DM Sans', sans-serif !important;
    }

    .full-width {
        width: 100%;
    }

    .no-transition {
        transition: none !important;
        transform: none !important;
    }

    .loading {
        z-index: 9;
    }
}