header {
    &.v-toolbar {
        box-shadow: 0 4px 24px 2px rgba(119,121,122,.1) !important;
    }
    .v-icon, a {
        color: #222 !important;
    }
    .router-link-exact-active {
        color: #2dd4bd !important;
    }
}