.theme--light {
    header {
        z-index: 99 !important;
        &.v-toolbar {
            box-shadow: 0 4px 24px 2px rgba(119,121,122,.1) !important;
        }
        .v-icon, a {
            color: #828282 !important;
        }
    }

    .header {
        &__categories {
            a {
                color: #828282 !important;
                transition: all ease .5s;

                &:hover {
                    color: #000 !important;
                }

                &.router-link-active {
                    color: #2dd4bd !important;
                }
            }
        }
    }
}