.login,
.register {
  &-page {
    &.theme--light {
      background: rgb(254, 143, 28);
      background: linear-gradient(
        119deg,
        rgba(254, 143, 28, 1) 0%,
        rgba(255, 161, 35, 1) 100%
      );
      background: linear-gradient(red, transparent),
        linear-gradient(to top left, #3ffe1c, transparent),
        linear-gradient(to top right, #3300ff, transparent);
      background-blend-mode: screen;
      background-size: cover;
    }
  }

  &-shadow {
    position: absolute;
    width: 73%;
    height: 15px;
    background: #060606b8;
    top: 103%;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(27px);
    -webkit-filter: blur(27px);
  }
}

@media screen and (max-width: 1023px) {
  .logo-big {
    max-width: 150px !important;
  }
}